* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: silver;
    display: flex;
    justify-content: center;
}
.container {
    background-color: #fff;
    height:820px;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    background-color: teal;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    background-color: orange;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 70%;
}
.content {
    height:750px;
    display:flex;
}
.left-side {
    flex-basis:20%;
    display: flex;
    flex-direction: column;
    font-size:30px;
}
.left-side-top {
    background-color: rosybrown;
    flex-basis:30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side-bottom {
    flex:1;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex:0 30%;

 
}
.cards .card {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:150px;
    flex:0 20%;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.boxes {
    flex:0 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.boxes .box {
    background-color: darkslateblue;
    flex:0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-3 {
    order:4;
}
.images {
    flex:0 25%;
    display: flex;
    justify-content: space-around;
}
.images .image {
    flex:0 20%;
    background-color: darkturquoise;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
}
.image:nth-child(odd) {
    align-self: flex-end;
}
