/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
:root {
    --agin-calari:#f3f3f3;

}
body {
    background-color: antiquewhite;
}
.cards {
    width:100%;
    height:500px;
    /* perspective: 50px; */
}
.card {
    width:22%;
    height:400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.card:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);

}
.card__front {
    position: absolute;
    top:0;
    left:0;
    height: 400px;
    width: 100%;
    /* backface-visibility: hidden; */
    /* -webkit-backface-visibility: hidden; */
}
.card__image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    /* backface-visibility: hidden; */

}
.card__place-name {
    background-color: var(--agin-calari);
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color:#424242;
    width:100%;
    /* backface-visibility: hidden; */

}
.card__back {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 400px;
    background-color: var(--agin-calari);
    padding: 10px;
    box-sizing: border-box;
    /* backface-visibility: hidden; */
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.card__title {
    text-align: center;
    color: #545454;
}
.card__info {
    font-style: italic;
}